body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1A2129;
}

.login-container {
    background-color: #732D2D;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}
.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1;
    padding-right: 40px; 
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    user-select: none;
}

.toggle-password img {
    width: 24px; 
    height: 24px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.login-container label {
    font-weight: bold;
    color: #ffffff;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #1A2129;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.login-container button:hover {
    background-color: #2E2E2E;
}

.login-container .forgot-password {
    text-align: right;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
}

.login-container .forgot-password a {
    color: #ffffff;
    text-decoration: none;
}

.login-container .forgot-password a:hover {
    text-decoration: underline;
}
